<!DOCTYPE html>
<html>
<head>
    <title>Races</title>
</head>
<body>
    <h1>Races</h1>
    {% if messages %}
    <ul>
         {% for message in messages %}
            <li>{{ message }}</li>
         {% endfor %}
    </ul>
    {% endif %}

    <table border="1" style="border-collapse: collapse;">
        <tr>
            <th>Track Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Race Date</th>
            <th>Registration Closure Date</th>
            <th>Registered Drivers</th>
            <th>Actions</th>
        </tr>
        {% for race in races %}
        <tr>
            <td>{{ race.track_name }}</td>
            <td>{{ race.city }}</td>
            <td>{{ race.country }}</td>
            <td>{{ race.race_date }}</td>
            <td>{{ race.registration_closure_date }}</td>
            <td>
                {% for driver in race.driver.all %}
                    {{ driver.first_name }} {{ driver.last_name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    None
                {% endfor %}
                </td>
            <td>
                <form method="get" action="{% url 'race_edit' race.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Edit</button>
            </form>
                <form action="{% url 'race_delete' race.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure yo want to delete this race?');">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'home' %}"><button type="submit">Home</button></a>
    <a href="{% url 'race_create' %}"><button type="submit">Create</button></a>
</body>
</html>
